In [1]:
'''
对叉车的搬运的工时进行统计
'''
import re
import os
import easygui
import numpy as np
import pandas as pd

In [93]:
fname = r"F:\a00nutstore\006\zw\产成品出入库工作记录\仓库日常出库工作记录.xlsx"
df = pd.read_excel(fname,header = 1)
df = df[[i  for i  in  df.columns.to_list() if i != '货物数量(托)' and  i != '序号']]
df

,日期,单位名称,货物数量（件）,发货叉车,发货搬运1,发货搬运2,发货搬运3,配货叉车1,配货叉车2,配货叉车3,配货搬运1,配货搬运2,配货搬运3
0,2024-09-28,汉正街,107.0,黄康,李城,NaN,NaN,黄康,胡国华,NaN,李城,NaN,NaN
1,2024-09-28,汉口北,256.0,胡国华,代朝威,NaN,NaN,胡国华,NaN,NaN,代朝威,NaN,NaN
2,2024-09-28,河南电商,18.0,刘革红,吴长江,NaN,NaN,刘革红,NaN,NaN,吴长江,NaN,NaN
3,2024-09-28,汉正街,105.0,胡国华,代朝威,李城,NaN,黄康,刘革红,NaN,代朝威,NaN,NaN
4,2024-09-28,吴家山,155.0,胡国华,代朝威,NaN,NaN,胡国华,刘革红,NaN,代朝威,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df1 = df.set_index(['日期','单位名称','货物数量（件）'])
df1

                        发货叉车 发货搬运1 发货搬运2 发货搬运3 配货叉车1 配货叉车2 配货叉车3 配货搬运1 配货搬运2  \
日期         单位名称 货物数量（件）
2024-09-28 汉正街  107.0     黄康    李城   NaN   NaN    黄康   胡国华   NaN    李城   NaN
           汉口北  256.0    胡国华   代朝威   NaN   NaN   胡国华   NaN   NaN   代朝威   NaN
           河南电商 18.0     刘革红   吴长江   NaN   NaN   刘革红   NaN   NaN   吴长江   NaN
           汉正街  105.0    胡国华   代朝威    李城   NaN    黄康   刘革红   NaN   代朝威   NaN
           吴家山  155.0    胡国华   代朝威   NaN   NaN   胡国华   刘革红   NaN   代朝威   NaN
...                      ...   ...   ...   ...   ...   ...   ...   ...   ...
NaT        NaN  NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
                NaN      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

                        配货搬运3
日期         单位名称 货物数量（件）
2024-09-28 汉正街  107.0     NaN
           汉口北  256.0     NaN
           河南电商 18.0      NaN
           汉正街  105.0     NaN
           吴家山  155.0     NaN
...                       ...
NaT        NaN  NaN       NaN
                NaN       NaN
                NaN       NaN
                NaN       NaN
                NaN       NaN

[106 rows x 10 columns]

In [95]:
df2 = df1.stack()
df2

日期          单位名称  货物数量（件）
2024-09-28  汉正街   107.0    发货叉车      黄康
                           发货搬运1     李城
                           配货叉车1     黄康
                           配货叉车2    胡国华
                           配货搬运1     李城
                                   ...
2024-10-17  义乌    209.0    发货搬运2     李城
                           配货叉车1    胡国华
                           配货叉车2     黄康
                           配货搬运1    代朝威
                           配货搬运2     李城
Length: 475, dtype: object

In [22]:
df2.to_excel('banyunStack.xlsx')

In [96]:
df2 = df2.reset_index()
df2.columns = ['date','address','jian','gongzhong','people']
(
    
    df2.reset_index()
)
df2

          date address   jian gongzhong people
0   2024-09-28     汉正街  107.0      发货叉车     黄康
1   2024-09-28     汉正街  107.0     发货搬运1     李城
2   2024-09-28     汉正街  107.0     配货叉车1     黄康
3   2024-09-28     汉正街  107.0     配货叉车2    胡国华
4   2024-09-28     汉正街  107.0     配货搬运1     李城
..         ...     ...    ...       ...    ...
470 2024-10-17      义乌  209.0     发货搬运2     李城
471 2024-10-17      义乌  209.0     配货叉车1    胡国华
472 2024-10-17      义乌  209.0     配货叉车2     黄康
473 2024-10-17      义乌  209.0     配货搬运1    代朝威
474 2024-10-17      义乌  209.0     配货搬运2     李城

[475 rows x 5 columns]

In [97]:
df3 = df2.copy()
df3.gongzhong = df3.gongzhong.str.replace('\d+','',regex = True)
df3.gongzhong

0      发货叉车
1      发货搬运
2      配货叉车
3      配货叉车
4      配货搬运
       ...
470    发货搬运
471    配货叉车
472    配货叉车
473    配货搬运
474    配货搬运
Name: gongzhong, Length: 475, dtype: object

In [98]:
df4 = df3.copy()
df4

          date address   jian gongzhong people
0   2024-09-28     汉正街  107.0      发货叉车     黄康
1   2024-09-28     汉正街  107.0      发货搬运     李城
2   2024-09-28     汉正街  107.0      配货叉车     黄康
3   2024-09-28     汉正街  107.0      配货叉车    胡国华
4   2024-09-28     汉正街  107.0      配货搬运     李城
..         ...     ...    ...       ...    ...
470 2024-10-17      义乌  209.0      发货搬运     李城
471 2024-10-17      义乌  209.0      配货叉车    胡国华
472 2024-10-17      义乌  209.0      配货叉车     黄康
473 2024-10-17      义乌  209.0      配货搬运    代朝威
474 2024-10-17      义乌  209.0      配货搬运     李城

[475 rows x 5 columns]

In [99]:
data = []
gp = df4.groupby(['date','address','jian','gongzhong'])
for k,v in gp:
    v = v.assign(jian2 = v.jian/len(v))
    data.append(v)
df5 = pd.concat(data)
df5

          date address   jian gongzhong people  jian2
19  2024-09-28     吴家山  155.0      发货叉车    胡国华  155.0
20  2024-09-28     吴家山  155.0      发货搬运    代朝威  155.0
21  2024-09-28     吴家山  155.0      配货叉车    胡国华   77.5
22  2024-09-28     吴家山  155.0      配货叉车    刘革红   77.5
23  2024-09-28     吴家山  155.0      配货搬运    代朝威  155.0
..         ...     ...    ...       ...    ...    ...
451 2024-10-17     汉正街  119.0      配货搬运    吴长江   59.5
460 2024-10-17    河南电商   34.0      发货叉车     黄康   34.0
461 2024-10-17    河南电商   34.0      发货搬运     李城   34.0
462 2024-10-17    河南电商   34.0      配货叉车     黄康   34.0
463 2024-10-17    河南电商   34.0      配货搬运     李城   34.0

[475 rows x 6 columns]

In [85]:
df5.to_excel('叉车搬运工时加工后原表1.xlsx',index = False)

In [101]:
df6 = df5.assign(fapei = df5.gongzhong.str[:2],gongzhong1 = df5.gongzhong.str[2:])
df6

          date address   jian gongzhong people  jian2 fapei gongzhong1
19  2024-09-28     吴家山  155.0      发货叉车    胡国华  155.0    发货         叉车
20  2024-09-28     吴家山  155.0      发货搬运    代朝威  155.0    发货         搬运
21  2024-09-28     吴家山  155.0      配货叉车    胡国华   77.5    配货         叉车
22  2024-09-28     吴家山  155.0      配货叉车    刘革红   77.5    配货         叉车
23  2024-09-28     吴家山  155.0      配货搬运    代朝威  155.0    配货         搬运
..         ...     ...    ...       ...    ...    ...   ...        ...
451 2024-10-17     汉正街  119.0      配货搬运    吴长江   59.5    配货         搬运
460 2024-10-17    河南电商   34.0      发货叉车     黄康   34.0    发货         叉车
461 2024-10-17    河南电商   34.0      发货搬运     李城   34.0    发货         搬运
462 2024-10-17    河南电商   34.0      配货叉车     黄康   34.0    配货         叉车
463 2024-10-17    河南电商   34.0      配货搬运     李城   34.0    配货         搬运

[475 rows x 8 columns]

In [102]:
df7 = df6[[ 'fapei',
       'gongzhong1','people', 'jian2']]
df7

    fapei gongzhong1 people  jian2
19     发货         叉车    胡国华  155.0
20     发货         搬运    代朝威  155.0
21     配货         叉车    胡国华   77.5
22     配货         叉车    刘革红   77.5
23     配货         搬运    代朝威  155.0
..    ...        ...    ...    ...
451    配货         搬运    吴长江   59.5
460    发货         叉车     黄康   34.0
461    发货         搬运     李城   34.0
462    配货         叉车     黄康   34.0
463    配货         搬运     李城   34.0

[475 rows x 4 columns]

In [103]:
pivot = pd.pivot_table(df7,index = ['fapei','gongzhong1','people'],aggfunc = sum)
pivot

C:\Users\redda\AppData\Local\Temp\ipykernel_2776\2791720084.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot = pd.pivot_table(df7,index = ['fapei','gongzhong1','people'],aggfunc = sum)

                               jian2
fapei gongzhong1 people
发货    叉车         刘革红     3686.000000
                 胡国华     6166.000000
                 黄康      3533.000000
      搬运         代朝威     6264.666667
                 吴长江     3339.666667
                 李城      3780.666667
配货    叉车         刘革红     2876.750000
                 李城       214.500000
                 胡国华     5181.166667
                 黄康      5112.583333
      搬运         代朝威     5428.166667
                 吴长江     3287.250000
                 李城      4669.583333

In [106]:
pivot1 = pd.pivot_table(df7,index = 'people',columns = ['fapei','gongzhong1'],aggfunc = sum)
pivot1

C:\Users\redda\AppData\Local\Temp\ipykernel_2776\3856349551.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot1 = pd.pivot_table(df7,index = 'people',columns = ['fapei','gongzhong1'],aggfunc = sum)

             jian2
fapei           发货                        配货
gongzhong1      叉车           搬运           叉车           搬运
people
代朝威            NaN  6264.666667          NaN  5428.166667
刘革红         3686.0          NaN  2876.750000          NaN
吴长江            NaN  3339.666667          NaN  3287.250000
李城             NaN  3780.666667   214.500000  4669.583333
胡国华         6166.0          NaN  5181.166667          NaN
黄康          3533.0          NaN  5112.583333          NaN