In [1]:
'''
计算Tloud试用期间2024-07-16至2024-07-25之间的出库
'''
import os
import datetime
import easygui
import numpy as np
import pandas as pd

In [23]:
lst = [
'仓库编码',
    '仓库',   
    '存货分类 (1级)',
 '存货分类 (2级)',
 '存货分类 (3级)',
 '存货分类 (4级)',
 '存货分类 (5级)',
 '存货编码',
 '存货',
 '存货代码',
  '数量(主单位)',
 '平均单价',
 '金额',
 '数量(辅单位)',
 '计量单位组合',
 '数量(主单位).1',
 '平均单价.1',
 '金额.1',
 '数量(辅单位).1',
 '计量单位组合.1',
 '数量(主单位).2',
 '平均单价.2',
 '金额.2',
 '数量(辅单位).2',
 '计量单位组合.2',
 '数量(主单位).3',
 '平均单价.3',
 '金额.3',
 '辅数量',
 '计量单位组合.3']
lst2 = [
    '仓库编码',
    '仓库',  
'class01',
 'class02',
 'class03',
 'class04',
 'class05',
 'code',
 'stock',
 'content',
  'begin_ben',
 '平均单价',
 '金额',
 'begin_jian',
 '计量单位组合',
 'ruku_ben',
 '平均单价.1',
 '金额.1',
 'ruku_jian',
 '计量单位组合.1',
 'chuku_ben',
 '平均单价.2',
 '金额.2',
 'chuku_jian',
 '计量单位组合.2',
 'end_ben',
 '平均单价.3',
 '金额.3',
 'end_jian',
 '计量单位组合.3']

lst3 =  [
 'class02',
 'class05',
 'code',
 'stock',
 'content',
 'begin_jian',
 'ruku_jian',
 'chuku_jian',
 'end_jian',
]




def chuli(fname):
    df =  pd.read_excel(fname,skiprows = 7)
    df = df.iloc[:,1:]
    df.columns = lst
    df.columns = lst2
    df['content'] = df['end_ben']/df['end_jian']
    df = df[df['class01'] != '制表人:']
    df = df[df['class01'] != '合计：']
    df = df[df['class01'].notnull()]
    df = df[lst3]
    return df

fname = r"F:\a00nutstore\008\zw08\用友报价\产成品库存\收发存汇总表20240723.xlsx"
chuku = chuli(fname)
chuku_new = chuku[['code','begin_jian','ruku_jian','chuku_jian']]
chuku_new

         code  begin_jian  ruku_jian  chuku_jian
0       DB501      150.00        NaN         2.0
1       FB503       98.00        NaN        12.0
2       J1601       81.00        NaN         NaN
3       J1602      115.00        NaN         NaN
4       J1603       54.00        NaN         NaN
...       ...         ...        ...         ...
1707     1101        0.02       0.02         NaN
1708     1103        0.02       0.10         NaN
1709     1121        0.37        NaN         NaN
1710     1125        0.02        NaN         NaN
1711  16KPP账夹         NaN       0.02         NaN

[1712 rows x 4 columns]

In [22]:
chuku_new.to_excel('测试期间出库.xlsx',index = False)

C:\Users\redda\AppData\Local\Temp\ipykernel_22536\3083325343.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  chuku_new.to_excel('测试期间出库.xlsx',index = False)