In [7]:
import pandas as pd
import re

In [5]:
df = pd.read_clipboard()
df

    产品  地区   月份  销量
0  苹果$  上海  上海$   1
1  苹果$  上海  上海$   2
2  苹果$  北京  北京$   3
3  苹果$  北京  北京$   4
4  苹果$  北京  北京$   5
5  葡萄$  上海  上海$   6
6  葡萄$  上海  上海$   7
7  葡萄$  北京  北京$   8
8  葡萄$  北京  北京$   9
9  葡萄$  北京  北京$  10

In [12]:
df1 = df.copy()
df1 = df1.applymap(lambda x: re.sub(r'\$', '', x) if isinstance(x, str) else x)
df1

   产品  地区  月份  销量
0  苹果  上海  上海   1
1  苹果  上海  上海   2
2  苹果  北京  北京   3
3  苹果  北京  北京   4
4  苹果  北京  北京   5
5  葡萄  上海  上海   6
6  葡萄  上海  上海   7
7  葡萄  北京  北京   8
8  葡萄  北京  北京   9
9  葡萄  北京  北京  10

df1 = df.copy()
df1 = df1.applymap(lambda x: re.sub(r'\$', '', x) if isinstance(x, str) else x)
df1

In [11]:
df1 = df.apply(lambda x: re.sub(r'\$|,', '', x) if isinstance(x, str) else x)

import pandas as pd
df = pd.read_clipboard()
df
df1 = df.apply(lambda x: re.sub(r'\$|,', '', x) if isinstance(x, str) else x)
df1
df1 = df.apply(lambda x: re.sub(r'\$,', '', x) if isinstance(x, str) else x)
df1
df = pd.read_clipboard()
df
df1 = df.copy()
df1['产品'] = df1['产品'].apply(lambda x: re.sub(r'\$,', '', x) if isinstance(x, str) else x)
df1
import pandas as pd
import re
df1 = df.copy()
df1['产品'] = df1['产品'].apply(lambda x: re.sub(r'\$,', '', x) if isinstance(x, str) else x)
df1
df1 = df.copy()
df1['产品'] = df1['产品'].apply(lambda x: re.sub(r'\$', '', x) if isinstance(x, str) else x)
df1
df1 = df.copy()
df1 = df1.apply(lambda x: re.sub(r'\$', '', x) if isinstance(x, str) else x)
df1
history

In [13]:
df1 = df.copy()
df1 = df1.applymap(lambda x: x.replace(',','').replace('$','') if isinstance(x,str) else x)
df1

   产品  地区  月份  销量
0  苹果  上海  上海   1
1  苹果  上海  上海   2
2  苹果  北京  北京   3
3  苹果  北京  北京   4
4  苹果  北京  北京   5
5  葡萄  上海  上海   6
6  葡萄  上海  上海   7
7  葡萄  北京  北京   8
8  葡萄  北京  北京   9
9  葡萄  北京  北京  10