In [1]:
import pandas as pd

data = [[1,2,3,4,5,False],
        [2,3,4,5,6,True],
        [3,4,5,6,7,False],
        [5,6,7,8,9,True],
        [6,7,8,9,0,False],
        [6,7,8,9,0,False],
        [6,7,8,9,0,False]]

df = pd.DataFrame(data, columns = ['a','b','c','d','e','f'])
df

   a  b  c  d  e      f
0  1  2  3  4  5  False
1  2  3  4  5  6   True
2  3  4  5  6  7  False
3  5  6  7  8  9   True
4  6  7  8  9  0  False
5  6  7  8  9  0  False
6  6  7  8  9  0  False

In [4]:
for i,v in df.f.items():
    print(i,v)

0 False
1 True
2 False
3 True
4 False
5 False
6 False

In [2]:
def func(ser):
    lst = []
    value = 0
    for v in ser:
        if v == True:
            value = 0
        else :
            value += 1
        lst.append(value)
    return lst

In [3]:
df.assign(g = df.f.pipe(func))

   a  b  c  d  e      f  g
0  1  2  3  4  5  False  1
1  2  3  4  5  6   True  0
2  3  4  5  6  7  False  1
3  5  6  7  8  9   True  0
4  6  7  8  9  0  False  1
5  6  7  8  9  0  False  2
6  6  7  8  9  0  False  3

In [ ]:
df.assign(g = func(df.f))