In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('数据报文处理.csv',encoding = 'gb2312',header = None,usecols = [3,4],names = [*"ab"])

In [3]:
df

,a,b
0,"{""app_body"":{""certno"":""430XXXXXXXXXXXXXXX"",""ce...","{""head"":{""result"":""Y"",""responsecode"":""0000"",""r..."
1,"{""app_body"":{""certno"":""430XXXXXXXXXXXXXXX"",""ce...","{""head"":{""result"":""Y"",""responsecode"":""0000"",""r..."
2,"{""app_body"":{""certno"":""430XXXXXXXXXXXXXXX"",""ce...","{""head"":{""result"":""Y"",""responsecode"":""0000"",""r..."
3,"{""app_body"":{""certno"":""430XXXXXXXXXXXXXXX"",""ce...","{""head"":{""result"":""Y"",""responsecode"":""0000"",""r..."
4,"{""app_body"":{""certno"":""430XXXXXXXXXXXXXXX"",""ce...","{""head"":{""result"":""Y"",""responsecode"":""0000"",""r..."
5,"{""app_body"":{""certno"":""430XXXXXXXXXXXXXXX"",""ce...","{""head"":{""result"":""Y"",""responsecode"":""0000"",""r..."
6,"{""app_body"":{""certno"":""430XXXXXXXXXXXXXXX"",""ce...","{""head"":{""result"":""Y"",""responsecode"":""0000"",""r..."

In [4]:
df1 = df.applymap(eval)  #构造为python对象-字典
df1

,a,b
0,"{'app_body': {'certno': '430XXXXXXXXXXXXXXX', ...","{'head': {'result': 'Y', 'responsecode': '0000..."
1,"{'app_body': {'certno': '430XXXXXXXXXXXXXXX', ...","{'head': {'result': 'Y', 'responsecode': '0000..."
2,"{'app_body': {'certno': '430XXXXXXXXXXXXXXX', ...","{'head': {'result': 'Y', 'responsecode': '0000..."
3,"{'app_body': {'certno': '430XXXXXXXXXXXXXXX', ...","{'head': {'result': 'Y', 'responsecode': '0000..."
4,"{'app_body': {'certno': '430XXXXXXXXXXXXXXX', ...","{'head': {'result': 'Y', 'responsecode': '0000..."
5,"{'app_body': {'certno': '430XXXXXXXXXXXXXXX', ...","{'head': {'result': 'Y', 'responsecode': '0000..."
6,"{'app_body': {'certno': '430XXXXXXXXXXXXXXX', ...","{'head': {'result': 'Y', 'responsecode': '0000..."

In [5]:
df1.a = df1.a.map(lambda x:x['app_body'])
df1

,a,b
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'head': {'result': 'Y', 'responsecode': '0000..."
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'head': {'result': 'Y', 'responsecode': '0000..."
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'head': {'result': 'Y', 'responsecode': '0000..."
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'head': {'result': 'Y', 'responsecode': '0000..."
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'head': {'result': 'Y', 'responsecode': '0000..."
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'head': {'result': 'Y', 'responsecode': '0000..."
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'head': {'result': 'Y', 'responsecode': '0000..."

In [6]:
df1.b = df1.b.map(lambda x:x['response']['othermodelscores']).map(eval)
df1

,a,b
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","[{'ModelScore': '37', 'ModelId': '0'}, {'Model..."
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","[{'ModelScore': '56', 'ModelId': '0'}, {'Model..."
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","[{'ModelScore': '34', 'ModelId': '0'}, {'Model..."
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","[{'ModelScore': '61', 'ModelId': '0'}, {'Model..."
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","[{'ModelScore': '43', 'ModelId': '0'}, {'Model..."
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","[{'ModelScore': '42', 'ModelId': '0'}, {'Model..."
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","[{'ModelScore': '61', 'ModelId': '0'}, {'Model..."

In [7]:
df2 = df1.explode('b')
df2

,a,b
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '37', 'ModelId': '0'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '9', 'ModelId': '4'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '28', 'ModelId': '1'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '10', 'ModelId': '5'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '56', 'ModelId': '0'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '4'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '41', 'ModelId': '1'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '34', 'ModelId': '5'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '34', 'ModelId': '0'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '50', 'ModelId': '4'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '44', 'ModelId': '1'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '5'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '61', 'ModelId': '0'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '39', 'ModelId': '4'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '1'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '64', 'ModelId': '5'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '43', 'ModelId': '0'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '21', 'ModelId': '4'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '46', 'ModelId': '1'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '31', 'ModelId': '5'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '42', 'ModelId': '0'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '63', 'ModelId': '4'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '72', 'ModelId': '1'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '84', 'ModelId': '5'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '61', 'ModelId': '0'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '39', 'ModelId': '4'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '1'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '64', 'ModelId': '5'}"

In [9]:
df1.explode('b')

,a,b
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '37', 'ModelId': '0'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '9', 'ModelId': '4'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '28', 'ModelId': '1'}"
0,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '10', 'ModelId': '5'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '56', 'ModelId': '0'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '4'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '41', 'ModelId': '1'}"
1,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '34', 'ModelId': '5'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '34', 'ModelId': '0'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '50', 'ModelId': '4'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '44', 'ModelId': '1'}"
2,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '5'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '61', 'ModelId': '0'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '39', 'ModelId': '4'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '1'}"
3,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '64', 'ModelId': '5'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '43', 'ModelId': '0'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '21', 'ModelId': '4'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '46', 'ModelId': '1'}"
4,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '31', 'ModelId': '5'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '42', 'ModelId': '0'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '63', 'ModelId': '4'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '72', 'ModelId': '1'}"
5,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '84', 'ModelId': '5'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '61', 'ModelId': '0'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '2'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '0', 'ModelId': '3'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '39', 'ModelId': '4'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '45', 'ModelId': '1'}"
6,"{'certno': '430XXXXXXXXXXXXXXX', 'certtype': '...","{'ModelScore': '64', 'ModelId': '5'}"

In [8]:
result = pd.concat([df2.a.apply(pd.Series),df2.b.apply(pd.Series)],axis = 1)
result

,certno,certtype,mobile,queryreason,requestrefid,encrypttype,ModelScore,ModelId
0,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,8W8q0gNPRsa2HbA,1,37,0
0,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,8W8q0gNPRsa2HbA,1,0,2
0,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,8W8q0gNPRsa2HbA,1,0,3
0,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,8W8q0gNPRsa2HbA,1,9,4
0,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,8W8q0gNPRsa2HbA,1,28,1
0,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,8W8q0gNPRsa2HbA,1,10,5
1,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,IpSJtm5URDeB15A,1,56,0
1,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,IpSJtm5URDeB15A,1,0,2
1,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,IpSJtm5URDeB15A,1,0,3
1,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,IpSJtm5URDeB15A,1,45,4
1,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,IpSJtm5URDeB15A,1,41,1
1,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,IpSJtm5URDeB15A,1,34,5
2,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,JhcunxoESOGIEcA,1,34,0
2,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,JhcunxoESOGIEcA,1,0,2
2,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,JhcunxoESOGIEcA,1,0,3
2,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,JhcunxoESOGIEcA,1,50,4
2,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,JhcunxoESOGIEcA,1,44,1
2,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,JhcunxoESOGIEcA,1,45,5
3,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,USHaaS1wTPKR4lA,1,61,0
3,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,USHaaS1wTPKR4lA,1,0,2
3,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,USHaaS1wTPKR4lA,1,0,3
3,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,USHaaS1wTPKR4lA,1,39,4
3,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,USHaaS1wTPKR4lA,1,45,1
3,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,USHaaS1wTPKR4lA,1,64,5
4,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,m1s8J2CvSveyBMA,1,43,0
4,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,m1s8J2CvSveyBMA,1,0,2
4,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,m1s8J2CvSveyBMA,1,0,3
4,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,m1s8J2CvSveyBMA,1,21,4
4,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,m1s8J2CvSveyBMA,1,46,1
4,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,m1s8J2CvSveyBMA,1,31,5
5,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2W-P=5vSTR-Y8aA,1,42,0
5,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2W-P=5vSTR-Y8aA,1,0,2
5,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2W-P=5vSTR-Y8aA,1,0,3
5,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2W-P=5vSTR-Y8aA,1,63,4
5,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2W-P=5vSTR-Y8aA,1,72,1
5,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2W-P=5vSTR-Y8aA,1,84,5
6,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2H67YCPaTk2jZbA,1,61,0
6,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2H67YCPaTk2jZbA,1,0,2
6,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2H67YCPaTk2jZbA,1,0,3
6,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2H67YCPaTk2jZbA,1,39,4
6,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2H67YCPaTk2jZbA,1,45,1
6,430XXXXXXXXXXXXXXX,00,133XXXXXXX,1,2H67YCPaTk2jZbA,1,64,5