In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('需求-丙辰.xlsx',usecols = 'A:C',nrows = 18,skiprows = 1)
df

    A          B   C
0   a 2021-01-01   1
1   a 2021-01-02   2
2   a 2021-01-03   3
3   a 2021-01-04   5
4   a 2021-01-05   6
5   a 2021-01-06  10
6   a 2021-01-07  12
7   a 2021-01-08  14
8   a 2021-01-09  12
9   a 2021-01-10  30
10  b 2022-01-01   1
11  b 2022-01-02   2
12  b 2022-01-03   3
13  b 2022-01-04   4
14  b 2022-01-05   5
15  b 2022-01-06   6
16  b 2022-01-07   7
17  b 2022-01-08   8

In [7]:
def func(d):
    day = pd.offsets.Day(1)
    foo = d.apply(lambda x:d[d.B.between(day + x.B,day*3 + x.B)].C.mean(),axis =1)
    return foo

In [16]:
d = df.groupby('A',group_keys = False).apply(func).fillna(0)
d

0      3.333333
1      4.666667
2      7.000000
3      9.333333
4     12.000000
5     12.666667
6     18.666667
7     21.000000
8     30.000000
9      0.000000
10     3.000000
11     4.000000
12     5.000000
13     6.000000
14     7.000000
15     7.500000
16     8.000000
17     0.000000
dtype: float64

In [13]:
df1 = df.assign(D=d)
df1

    A          B   C          D
0   a 2021-01-01   1   3.333333
1   a 2021-01-02   2   4.666667
2   a 2021-01-03   3   7.000000
3   a 2021-01-04   5   9.333333
4   a 2021-01-05   6  12.000000
5   a 2021-01-06  10  12.666667
6   a 2021-01-07  12  18.666667
7   a 2021-01-08  14  21.000000
8   a 2021-01-09  12  30.000000
9   a 2021-01-10  30   0.000000
10  b 2022-01-01   1   3.000000
11  b 2022-01-02   2   4.000000
12  b 2022-01-03   3   5.000000
13  b 2022-01-04   4   6.000000
14  b 2022-01-05   5   7.000000
15  b 2022-01-06   6   7.500000
16  b 2022-01-07   7   8.000000
17  b 2022-01-08   8   0.000000