In [2]:
import pandas as pd
import numpy as npaa

In [3]:
index_arrays=[[1,1,2,2],
              ["男","女","男","女"]]

In [4]:
colunms_arrays=[["2019","2019","2020","2020"],
                ["上半年","下半年","上半年","下半年"]]

In [5]:
## 索引转换为多层
index=pd.MultiIndex.from_arrays(index_arrays,
                               names=("班级","性别"))

In [6]:
## 列名转换为多层
columns=pd.MultiIndex.from_arrays(colunms_arrays,
                                 names=("年份","学期"))

In [7]:
## 应用到DataFrame中
df=pd.DataFrame([(88,89,88,9),(77,89,97,98),
                (67,89,54,78),(34,67,89,54)],
               columns=columns,index=index)
df

年份    2019     2020
学期     上半年 下半年  上半年 下半年
班级 性别
1  男    88  89   88   9
   女    77  89   97  98
2  男    67  89   54  78
   女    34  67   89  54

In [8]:
df.reset_index(inplace=True)

2019年上半年+2019年下半年

In [9]:
df["2019全年合计"]=df[("2019","上半年")]+df[("2019","下半年")]
df

年份 班级 性别 2019     2020     2019全年合计
学期        上半年 下半年  上半年 下半年
0   1  男   88  89   88   9      177
1   1  女   77  89   97  98      166
2   2  男   67  89   54  78      156
3   2  女   34  67   89  54      101

2020年全年合计

In [10]:
df["2020全年合计"]=df[("2020","上半年")]+df[("2020","下半年")]
df

年份 班级 性别 2019     2020     2019全年合计 2020全年合计
学期        上半年 下半年  上半年 下半年
0   1  男   88  89   88   9      177       97
1   1  女   77  89   97  98      166      195
2   2  男   67  89   54  78      156      132
3   2  女   34  67   89  54      101      143

1班用2019年上半年

2班用2020年下半年

**计算出现错误（np.where函数在其中没法进行应用）**

In [12]:
df["成绩1"]=np.where(df["班级"]=="1",df[("2019","上半年")],df[("2020","下半年")])
df

年份 班级 性别 2019     2020     2019全年合计 2020全年合计 成绩1
学期        上半年 下半年  上半年 下半年
0   1  男   88  89   88   9      177       97   9
1   1  女   77  89   97  98      166      195  98
2   2  男   67  89   54  78      156      132  78
3   2  女   34  67   89  54      101      143  54

In [13]:
##白老师的做法
a=df["2019"]["上半年"]-df["2020"]["下半年"]
a

0    79
1   -21
2   -11
3   -20
dtype: int64

In [14]:
df["差值"]=a
df

年份 班级 性别 2019     2020     2019全年合计 2020全年合计 成绩1  差值
学期        上半年 下半年  上半年 下半年
0   1  男   88  89   88   9      177       97   9  79
1   1  女   77  89   97  98      166      195  98 -21
2   2  男   67  89   54  78      156      132  78 -11
3   2  女   34  67   89  54      101      143  54 -20